*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    padding:20px;
}

h1{
    margin-bottom:20px;
}

.products{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.product{
    width:250px;
    border:1px solid #ddd;
    padding:15px;
    border-radius:10px;
}

.product img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.product h3{
    margin:10px 0;
}

.product button{
    width:100%;
    padding:10px;
    border:none;
    background:black;
    color:white;
    cursor:pointer;
}

.cart-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.total{
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
}